.my-ul{
    border: 1px solid #ccc;

    border-radius: 8px;
    margin: 0;
    position: relative;
    padding: 8px;
    margin-bottom: 30px;
   
}

.my-ul li:first-child{
   
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    left: -14px;
    top: -24px;
    font-size: 12px;
}

.my-ul li {
    list-style: none;
    margin: 0;
    margin-bottom: 4px;
  
    border-radius: 7px;
    padding: 8px;
}

.my-ul li a{
    text-decoration: none;
    color:#252525;

}

.li-post{
   
}
